.movie-view {
    text-align: center;
  
    .label{
      font-weight: 700;
    }
    .movie-ImageURL,
    .movie-Title,
    .movie-Year,
    .movie-Description,
    .movie-Genre,
    .movie-Director,
    .movie-Actors
    .back-button {
      text-align: left;
    }
  }